ul,
li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.menu{
  display: flex;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  column-gap:20px;
}
.form >div{
  margin-bottom: 10px;
}
.form >div >label{
  display: block;
}
.form>div>input,
 textarea{
  width: 100%;
  padding:5px;
  border:solid 1px #ccc;
}